<div >
    
  <md-toolbar class="md-primary md-hue-2">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Accounts</h2> 
        <md-button class="md-fab md-mini" aria-label="Add" ng-click="accountCtrl.go('/account/new/form')">
            Add
        </md-button>
    </div>
  </md-toolbar>

  <md-content class="md-padding" layout="row" layout-align="center center" ng-cloak>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
            <tr>
              <th></th>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th class="mdl-data-table__cell--non-numeric">Status</th>
              <th class="mdl-data-table__cell--non-numeric">Roles</th>
              <th>Last Visit</th>
              <th>Since</th>
              <th>Modifed</th>
              <th class="mdl-data-table__cell--non-numeric">Action</th>
            </tr>
        </thead>
      <tbody>
        <tr class="ng-cloack" ng-repeat="account in accountCtrl.accounts">
            <td><img ng-show="account.imageUrl != undefined" src={{account.imageUrl}} /></td>
            <td><a href="#/account/{{account.uuid}}" ><span ng-bind="account.displayName" /></a></td>
            <td>{{account.status}}</td>
            <td>{{account.roles}}</td>
            <td>{{account.lastLogin | date:'shortDate'}}</td>
            <td>{{account.createdAt | date:'shortDate'}}</td>
            <td>{{account.modifiedAt | date:'shortDate'}}</td>
            <td>
              <a href="#/account/{{account.uuid}}/form" >Edit</a>
              <a ng-click="accountCtrl.remove(account.uuid)" >Delete</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">Pagination</td>
      </tr>
    </tfoot>
    </table>
  </md-content>
</div>